::root {
    --themeDark: #10151c;
}

.full-screen-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: url('../../assets/onboarding-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.image {
    height: 100px;
    margin-bottom: 30px;
}

.full-screen-container h1 {
    font-size: 54px;
    color: var(--themeDark)
}

.full-screen-container p {
    font-size: 33px;
    margin-top: 10px;
}

.back-icon {
    height: 20px;
    margin-bottom: 20px;
    cursor: pointer;
}