.button {
    margin-top: 60px;
}

.button :hover {
    cursor: pointer;
}

.button-text {
    background-color: #10151c;
    padding: 20px 50px;
    font-size: 20px;
    color: #fff;
    border-radius: 50px;
}